@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}
@layer base {
  button {
    @apply cursor-pointer;
  }
  input:not([types="checkbox"]) {
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  }
  textarea {
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  }
}
